.carreras
    display flex
    flex-direction columns 
    height 100%
    margin 5px 5px 5px 5px
    .carreras-content
        display flex
        flex-direction column
        width 100%
        height 100%
        justify-content center
        align-items center
        .busqueda
            margin 5px 5px 5px 5px
            width 90%
            .filtro
                display flex
                flex-direction row
                width 100%
                .autocomplete
                    flex 20
                .buscar
                    flex 1
                    width 100%
        .peliculass
            width 90%
            .titulo
                width 100%
            display flex
            flex-direction column
            height 100%
            .carrerita
                h2
                    cursor pointer

.spaciador
    flex 1 1 auto