.fag
    display flex
    width 100%
	.fag-content
        display flex
        width 80%
        flex-direction column
		.explicacion
            width 100%
        .mapa
            width 500px
            .contenedor
                svg
                    height 100%
                    width auto
