
.home
    display flex
    flex-direction columns 
    width 100%
    height 100%
    .home-content
        width 100%
        height 100%
        margin 5px 5px 5px 5px
        .titulo
            margin 10px 50px 10px 50px