.carrera
    .carrera-content
        .arriba
            .izquierda
                .titulo
                    h1.titulo {{carrera.$nombre}}
                .boton(*ngIf="user")
                    button(mat-raised-button color="primary" id="btn-comprar" (click)="irAComprar()") COMPRAR BOLETO
                .registro(*ngIf="!(user)")
                    a.reg([routerLink]="['/login']") registrate
                .descripcion
                    p {{carrera.$description}}
                .mapita
                    div(#googleMap style="width:100%;height:100%;")
                .cositas
                    explicacion
            .centro
            .derecha
                .galeria
                    ngx-slick(*ngIf="carrera.geImagenes().length > 0" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)").carousel
                        .slide(ngxSlickItem *ngFor="let image of carrera.geImagenes()")
                            imagen([id]="image.getId()" )
                a(routerLink="'/galerias'" ) IR A GALERIA
                proximas
        .abajo
            h4 PATROCINADORES
            .patrocinadores
                .patro(*ngFor="let patro of carrera.getPatrocinadores()")
                    imagen([id]="patro?.$imagen?.getId()" )
