rosa = #ff3377
naranja = #ef6100
verde = #00c900
azul = #1cccf4

.carrera
    display flex
    justify-content center
    width 100%
    height 100%
    max-height 90vh
    color white
    .carrera-content
        display flex
        width 90%
        height 100%
        max-height 100%
        flex-direction column
        color white
        .arriba, .abajo, .izquierda, .car, .derecha, .proximas
            display flex
        .arriba
            height 90%
            .izquierda, .derecha
                flex 3
            .centro
                flex 2
            .izquierda, .derecha
                flex-direction column
            .izquierda
                .titulo, .registro, .descripcion
                    height 20%
                    align-items baseline
                    h1
                        &.titulo
                            font-family Bebas
                            font-size 50px
                    a
                        &.reg
                            font-family Gloss_And_Bloom
                            font-size 25px
                            cursor pointer
                            color verde
                .mapita, .cositas
                    height 40%
                    align-items center
                .cositas
                    display flex
                    justify-content center
                    align-content center
            .derecha
                .galeria
                    width 100%
                    max-width 100%
                    height 50%
                    position relative
                    .carousel
                        width 100%
                        height 450px
                        max-height 100%
                        max-width 100%
                        position absolute
                        .slide
                            overflow hidden
                            height 350px
                            imagen
                                display flex
                                justify-content: center 
                            .img
                                width 50px !important
                                height 50px !important
                h2
                    margin 0
                    margin-top 38px
                    font-family Bebas
                    font-size 28px
                    color white
                .gale
                    color white
                proximas
                    display flex
                    flex 1
                    justify-content center
                    align-items center
        .abajo
            height 25%
            align-items center
            justify-content center
            flex-direction column
            .patrocinadores
                width 40%
                height 100%
                max-width 90%
                display flex
                align-items center
                justify-content center                
                .patro
                    flex 1
                    height 100%
                    max-width 100%
            
        