.patrocinadores, .patrocinadores-content, .header, .boder
    display flex
    width 100%

.patrocinadores
    justify-content center
    .patrocinadores-content
        flex-direction column
        align-items center
        .header
            justify-content center
            align-items center
            .busqueda
                width 100%
        .boder
            flex-direction column

.example-option-img
    vertical-align middle
    margin-right 8px

[dir='rtl']
    .example-option-img
        margin-right 0
        margin-left 8px

.mat-option-text
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center;
    align-items: center;