.home
    .home-content
        .portada
            .background
                videojs(*ngIf="url" [url]="url" [autoplay]="false" [mute]="true" [loop]="true" [controls]="false")
            .contador
                .titulo
                    h1 {{carrerasProximas[0]?.$nombre}}
                .tiempo(*ngIf="time1$ | async as time1")
                    .dias
                        h3 {{time1.days}}
                        h3 DIAS
                    .horas
                        h3 {{time1.hours}}
                        h3 HORAS 
                    .minutos
                        h3 {{time1.minutes}} 
                        h3 MINUTOS 
                    .segundos
                        h3 {{time1.seconds}}
                        h3 SEGUNDOS
                .boton
                    a(mat-raised-button color="primary" id="btn-comprar" (click)="irAComprar(carrerasProximas[0]?.$id)") COMPRAR BOLETO
        .linea
        .piesito
            .piesito-content
                .galeria
                    include ../partials/mancha.pug
                    .titu
                        h2 GA
                        h2 LE
                        h2 RIA
                    .images((click)="irGaleria()")
                        img(src="assets/images/fondito.jpg", alt="")
                .tit
                    p Proxima Carreras
                .proximas(
                    id="carrera1" (click)="verCarrera(carrera.$id)"
                    *ngFor="let carrera of carrerasProximas | slice:1; ")
                    include ../partials/mancha.pug
                    .content
                        .fecha
                            p {{carrera?.$fechaini | date:'mediumDate'}}
                        .nombre
                            h2 {{carrera?.$nombre}}
                        .pie
                            p Comptra tu boleto
