.home
    .home-content(class="shake-trigger")
        .portada
            .background
                videojs(*ngIf="url" [url]="url" [autoplay]="true" [mute]="true" [loop]="true" [controls]="false")
            .contador
                .titulo
                    h1 {{carrerasProximas[0]?.$nombre}}
                .tiempo(*ngIf="time1$ | async as time1")
                    .dias
                        h3 {{time1.days}}
                        h3 DIAS
                    .horas
                        h3 {{time1.hours}}
                        h3 HORAS 
                    .minutos
                        h3 {{time1.minutes}} 
                        h3 MINUTOS 
                    .segundos
                        h3 {{time1.seconds}}
                        h3 SEGUNDOS
                .boton
                    a(mat-raised-button color="primary" id="btn-comprar") COMPRA TU BOLETO
        .linea
        .piesito
            .piesito-content
                .galeria
                    .titu
                        h2 GA
                        h2 LE
                        h2 RIA
                    .images((click)="irGaleria()")
                        img(src="assets/images/fondito.jpg", alt="")
                .tit
                    p Proxima Carreras
                .primero(id="carrera1" (click)="verCarrera(carrerasProximas[1].$id)")
                    img(src="assets/images/cuadritos/glow_home_1.png", alt="")
                    .content
                        .fecha
                            p {{carrerasProximas[1]?.$fechaini | date:'mediumDate'}}
                        .nombre
                            h2 {{carrerasProximas[1]?.$nombre}}
                        .pie
                            p Comptra tu boleto
                .segundo(id="carrera2" (click)="verCarrera(carrerasProximas[2].$id)")
                    img(src="assets/images/cuadritos/glow_home_2.png", alt="")
                    .content
                        .fecha
                            p {{carrerasProximas[2]?.$fechaini | date:'mediumDate'}}
                        .nombre
                            h2 {{carrerasProximas[2]?.$nombre}}
                        .pie
                            p Comptra tu boleto                    
                .tercero(id="carrera3" (click)="verCarrera(carrerasProximas[3].$id)")
                    img(src="assets/images/cuadritos/glow_home_3.png", alt="")
                    .content
                        .fecha
                            p {{carrerasProximas[3]?.$fechaini | date:'mediumDate'}}
                        .nombre
                            h2 {{carrerasProximas[3]?.$nombre}}
                        .pie
                            p Comptra tu boleto                    