@import '_mat-theme.css';

@font-face
    font-family Loto
    font-weight 200
    src url(/assets/fonts/Lato-Regular.ttf)

@font-face
    font-family Gloss_And_Bloom
    font-weight 200
    src url(/assets/fonts/Gloss_And_Bloom.ttf)

@font-face
    font-family Bebas
    font-weight 200
    src url(/assets/fonts/BEBAS.ttf)
body
    margin 0px
