.input-layout
    width: 100%;
    flex: 1 1 auto;
    margin 2px 2px 2px 2px

.perfil-carrera
    display flex
    flex-direction columns
    width 100%
    .perfil-carrera-content
        width 100%
        height 100%
        margin 5px 5px 5px 5px
        display flex
        justify-content center
        flex-direction column
        .encabezado
            display flex
            flex-direction column
            width 100%
            padding 0px !important
            margin 10px 10px 10px 10px
            .titulo
                display flex
                justify-content center
                align-items center
            .info
                display flex
                justify-content center
                align-items center
                .detalles
                    display flex
                    flex-direction column
                    justify-content center
                    width 100%
                    margin 5px 5px 5px 5px
                .ciudad
                    display
                    flex-direction column
                    justify-content center
                    width 100%
                    margin 5px 5px 5px 5px
                    form
                        display flex
                        flex-direction column
                        justify-content center
                        width 100%
                        .inputs
                            display flex
                            justify-content center
                            width 100%
                        .botones
                            display flex
                            justify-content center
                            align-items center
                            width 100%
        .patrocinadores
            width 100%
            padding 0px !important
            margin 10px 0px 10px 10px
            patrocinadores
                width 100%
