.contacto
    display flex
    justify-content center
    width 100%
    height 100%
    .contacto-content
        display flex
        flex-direction column
        justify-content center
        width 80%
        margin: 100px 25px 0px 25px;
        .encabezado
            display flex
            flex-direction column
            justify-content center
            color white
            .descripcion
                display flex
                align-items center
                p
                    flex 4
                .fb
                    flex 2
                    -moz-user-select none
                    background #2A49A5
                    border 1px solid #082783
                    box-shadow 0 1px #4C6BC7 inset
                    height auto
                    width 80%
                    color white
                    padding 3px 5px
                    text-decoration none
                    text-shadow 0 -1px 0 #082783
                    font 12px Verdana, sans-serif
                    img
                        width 24px
                        height 24px                    
        .formulario
            display flex
            flex-direction column
            justify-content center
            align-items center
            background-color rgba(168,168,168, 0.5)
            .contenido
                width 100%
                height 100%
                display flex
                flex-direction column
            .botones
                display flex
                flex-direction column
                height 100%
                width 100%
                button 
                    width 100%

.mat-form-field-label
    color white !important
.mat-form-field-underline
    color white    