.mat-expansion-panel
	background transparent
	color gray
	// height 30px !important
.mat-expansion-panel-header
	background transparent
	color gray
	height 22px !important
	mat-panel-title
		color gray
		align-items center
		p
			font-family Bebas
			font-weight 400
.mat-expansion-panel-body
	color gray
