.mat-expansion-panel
	background transparent
	color: white
	// height 30px !important
.mat-expansion-panel-header
	background transparent
	color white
	mat-panel-title
		color white
		align-items center
.mat-expansion-panel-body
	color white