.usuarios
	.usuarios-content
		mat-form-field
			input(matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Usuario")
		.mat-elevation-z8
			mat-table(#table [dataSource]="dataSource" matSort)
				ng-container(matColumnDef="{{column.id}}" *ngFor="let column of columnNames")
					mat-header-cell(*matHeaderCellDef mat-sort-header) {{column.value}}
					mat-cell(*matCellDef="let element") {{element[column.id]}}

				mat-header-row(*matHeaderRowDef="displayedColumns")
				mat-row(*matRowDef="let row; columns: displayedColumns;" (click)="ver(row.id)")

			mat-paginator([pageSizeOptions]="[5, 10, 25, 100]")