.usuarios
    display flex
    justify-content center
    align-items center
    width 100%
    height 100%
	.usuarios-content
        display flex
        flex-direction column
        justify-content center
        width 90%
        mat-row
            cursor pointer
