rosa = #b7004b
rosita = #ff3377
naranja = #ef6100
verde = #00c900
azul = #1cccf4

.boleto, .boleto-content, .fila1, .contador, .tiempo, .fila2, .title, .cuadrado, .fondo-cuadro, .info, .fecha, .precio, .fila3, .politicas, .fila4, .titulo-proximos, .carreras-proximas
    display flex

.boleto
    width 100%
    height 100%
    justify-content center
    .boleto-content
        width 80%
        flex-direction column
        .fila1
            justify-content flex-start
            height 100%
            .contador
                background-color naranja
                width 400px
                height 200px
                .tiempo
                    flex-direction column
                    justify-content center
                    
        .fila2
            height 100%
        .fila3
            height 30%
        .fila4
            height 30%