
.galeria
    .galeria-content
        h1 Galeria
        .carrera(*ngFor="let carrera of carreras")
            .galerias
                drag-scroll(*ngIf="carrera?.geImagenes()?.length > 0"
                    style="width: 100%;"
                    scrollbar-hidden="true"
                    )
                    imagen(
                        
                        drag-scroll-item
                        *ngFor="let imagen of carrera?.geImagenes()"
                        [id]="imagen.getId()")
            h2 {{carrera.$nombre}}
            .linea(id="linea" #linea [@animateState]="state")
