.login
	.login-content
		.cabeza
			.back-precio
				img(src="assets/images/cuadritos/glow_home_1.png", alt="")
				.contenido-precios
					p El precio se elevará en:
					h3 3:00 hrs
		.cuerpo
			.tito
				h1 Registraste
			.back-login-icons
				img(src="assets/images/cuadritos/glow_registrate.png", alt="")
				.contenido-icons
					a(href="/login/facebook")
						img(src="assets/images/facebook-icon.svg")
					a(href="/login/twitter")
						img(src="assets/images/twitter_logo.svg")
					a(href="/login/google")
						img(src="assets/images/Google-G-logo.svg")
		.pies
			.di
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			.do