.carreras
    .carreras-content
        .arriba
            .title
                h1 Proximas
                h1 Carreras
            .carreritas-container
                .carreritas
                    .flecha-container
                        button.flecha(mat-icon-button)
                            mat-icon keyboard_arrow_left
                    .carrera-content(*ngFor="let carrera of carrerasProximas | slice:0:3; let i = index")
                        .carrera((click)="verCarrera(carrera.$id)")
                            .imagen-container(style="background-image : url('assets/images/example.png')")
                            .pie
                                              
                                .info([style.backgroundColor]="imagenes[i].color")
                                    .fecha
                                        span 26
                                        span {{carrera.$fechaini | date:'mediumDate'}}
                                        span {{carrera.$fechaini | date:'mediumDate'}}
                                    h2 {{carrera?.$nombre}}
                                .mancha
                                    img([src]="imagenes[i].image")
                    .flecha-container
                        button.flecha(mat-icon-button)                        
                            mat-icon keyboard_arrow_right
        .abajo
            .title
                h1 Carreras
            .carreritas-container
                .carreritas
                    .flecha-container
                        button.flecha(mat-icon-button (click)="anterior()")
                            mat-icon keyboard_arrow_left
                    .carrera-content(*ngFor="let carrera of carrerasFiltro | slice:0:3;")
                        .carrera((click)="verCarrera(carrera.$id)")
                            .imagen-container(style="background-image : url('assets/images/example.png')")
                            .pie
                                              
                                .info
                                    .fecha
                                        span 26
                                        span {{carrera.$fechaini | date:'mediumDate'}}
                                        span {{carrera.$fechaini | date:'mediumDate'}}
                                    h2 {{carrera?.$nombre}}
                                .mancha
                                    img(src="assets/images/cuadritos/glow_galeria2.png")
                    .flecha-container
                        button.flecha(mat-icon-button (click)="siguiente()")                        
                            mat-icon keyboard_arrow_right
