verde = #45c900
rosa = #f53277
azul = #40ccf4

transition(duracion, delay)
    -webkit-transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
    transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
    -webkit-transition-delay delay ease-in-out
    transition-delay delay ease-in-out

.carreras
    display flex
    justify-content center
    width 100%
    height calc(100vh - 80px)
    max-height 90vh
    .carreras-content
        display flex
        width 90%
        margin-top 20px
        max-height 100%
        flex-direction column
        justify-content center
        align-items center
        .arriba
            .flecha
                opacity 0
        .arriba, .abajo
            display flex
            width 100%
            max-height 300px
            .title
                height 100%
                display flex
                flex 1
                flex-direction column
                width 25%
                h1
                    height  0px
                    font-size 50px
                    font-family Loto
                    color white
            .carreritas-container
                position relative
                width 75%
            .carreritas
                display flex
                align-items center
                height 300px
                .flecha-container
                    height 100%
                    display flex
                    align-items center
                    mat-icon
                        color rosa
                .carrera-content
                    display flex
                    justify-content center
                    align-items start
                    position relative
                    transition(500ms, 0)
                    height 100%
                    width 100%
                    .carrera
                        height 270px
                        width 250px
                        .imagen-container
                            width 100%
                            height 200px
                            background-position center
                            background-size cover
                        .pie
                            height 50px
                            display flex
                            align-items center
                            justify-content center
                            .mancha
                                position absolute
                                height 50px
                                width 250px
                                z-index 1
                                img
                                    width 100%
                                    height 100%
                                    transform scale(1.1)
                            .info
                                z-index 2
                                height 50px
                                width 250px
                                background-color verde
                                display flex
                                flex-direction row
                                justify-content center
                                align-items center
                                padding 0 10px
                                p, h2
                                    margin 0px
                                    color white
                                .fecha
                                    font-size 11px
                                    display flex
                                    flex-direction column
                                    span
                                        &:nth-child(1)
                                            font-size 14px
                                        &:nth-child(2)
                                            font-size 10px
                                        font-size 8px

                                h2
                                    width 100%
                                    font-size 18px
                                    text-align center

                            .imagen
                                position relative
                                width 100%
                                height 100%
                                img
                                    width 100%
                                    max-height 100%
                                    position: absolute
                                .info
                                    width 100%
                                    height 100%
                                    display flex
                                    p
                                        font-family Loto
                                    h2
                                        font-family Gloss_And_Bloom


                    &:hover
                        cursor pointer
                        transform rotate(1deg) scale(1.1)
